<div class="left">
	<div class="wbbface">
		<img src="/images/header.jpeg">
		<!-- <span>ANAMARY</span> -->
		<% if(blogifm!=null) {%>
		<span><%=blogifm.blogname%></span>
		<% } %>
	</div>
	<div class="catlist">
		<ul class="catlist_ul">
			<li>
				<a href="/cat/前端">前端</a>
				<ul class="catlist_submenu">
					<li>
						<a href="/cat/javascript">JAVASCRIPT</a>
					</li>
					<li>
						<a href="/cat/css">CSS</a>
					</li>
					<li>
						<a href="/cat/html">HTML</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/cat/后端">后端</a>
				<ul class="catlist_submenu">
					<li>
						<a href="/cat/php">PHP</a>
					</li>
					<li>
						<a href="/cat/mysql">MYSQL</a>
					</li>
					<li>
						<a href="/cat/server">SERVER</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="/cat/live">万华镜</a>
				<ul class="catlist_submenu">
					<li>
						<a href="/cat/about">ABOUTME</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>