  <div class="footer">
  	<div class="footercontainer">
  		<div class="byanamary">
  			<span>Design by anamary</span>
  			<div class="clear"></div>
  		</div>
      <div class="copyright">
        ©2013 TECCLASS 浙ICP备13027377号
      </div>
  	</div>
  </div>
  <div class="baidutj">
    <script type="text/javascript">
    // var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    // document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F880f91d9786ff38696333a040f4e8d9d' type='text/javascript'%3E%3C/script%3E"));
    </script>
  </div>
</body>
</html>