<div class="mood_div">
	<div class="mood_exp">心情就是对这个世界留念的话语。<br>
	有一天我们改变了，但是过去仍然还在。</div>
	<textarea class="mood_in"></textarea><a class="mood_submit">保存</a>
	<div class="clear"></div>
	<span class="mood_msg"></span>
</div>
<script type="text/javascript" src="/javascripts/business/mood/mood.js"></script>