<%include header%>
	<div class="container">
		<div class="admin_panel">
			<span>登录</span><br><br>
			<input type="text" class="admin_email" placeholder="email"><br>
			<input type="password" class="admin_password" placeholder="password"><br>
			<input type="button" class="admin_submit admin_login" value="登录">
		</div>
		<div class="msg">
			
		</div>
	</div>
	<script type="text/javascript" src="/javascripts/business/admin/admin.js"></script>
</body>
</html>