<div class="right">
	<p class="mood_title">心情</p>
	<% if(moods.length == 0) {%>
		<div class="one_mood">
			<p>无心情的岁月！</p>
		</div>
	<% } else {%>
		<% moods.forEach(function(mood,index){ %>
			<div class="one_mood">
				<a href="/mood/<%=mood.urltitle%>">
					<p><%= mood.content %></p>
				</a>
				<span><%= mood.date%></span>
				<div class="clear"></div>
			</div>
		<% }) %>
	<% } %>
	<a href="/moodlist" class="mood_more">more</a>
	<div class="clear"></div>
</div>