<link rel="stylesheet" type="text/css" href="/stylesheets/search.css">
<div class="searchpage">
	<div class="s_top">
		<span>搜索标签：</span><span class="s_top_con"></span>
		<!-- <div class="clear"></div> -->
	</div>
	<div class="s_container">
		
	</div>
	<div class="s_footer"></div>
</div>